*{
	margin: 0;
	padding: 0;
	background-color: #282c34;
}
.plat{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	color: #fff;
	font-size: calc(10px + 2vmin);
}
.asd{
	width: 265px;
	border-radius: 50%;
}
@keyframes wml {
	from {
	transform:rotate(0);
}
to {
	transform:rotate(360deg);
	
} 
}.asd {
	animation: wml linear infinite 18s;
} 