*{
    margin: 0;
    padding: 0;
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.55rem;
    color: #999;
    background: #f2f2f2;
    border-bottom: 1px solid #e5e5e5;
}
header>div{
    display: flex;
}
header>div>p{
    margin: 0 1rem;
}
.middle{
    width: 106rem;
}
.middle .middle_top{

}