*{
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}
.big_head{
    height: 150px;
    background-color: lightblue;
}
.head{
    display: flex;
    height: 36px;
    padding: 10px 24px;
    width: 100%;
    align-items: center;
    /* background: url(https://i0.hdslb.com/bfs/vc/c7a1dbf9bbc09c1f867b14a141c4e2f07c4b228d.png); */
    /* background-color: lightblue; */
    justify-content: space-evenly;
}
.l_eight{
    display: flex;
    list-style: none;
    color: #fff;
    text-shadow: 0 1px 1px rgb(0 0 0 / 30%);
    line-height: 32px;
}
.l_eight>li{
    margin-right: 12px;
}
.h_middle{
    height: 36px;
    background-color: white;
    border-radius: 2px;
    position: relative;
}
.h_middle .h_text{
    border: none;  
    outline: none; 
    margin: 0 40px 0 10px;
    height: 36px;
    width: 200px;
}
.h_middle .h_search{
    /* background-color: #505050; */
    width: 48px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 2px;
    background: #e7e7e7;
}
.head_right{
    width: 500px;
}
.head_right{
    display: flex;
    align-items: center;
}
.head_right .h_picture{
    position: relative;   
    height: 32px;  
    width: 32px;
    margin-right: 30px; 
}
.head_right .h_picture>img{
    position: absolute;
    border-radius: 50%;
    height: 32px;
    z-index: 2;
}
.head_right .my_menu{
    position: absolute;
    top: 40px;
    width: 300px;
    left: -140px;
    z-index: 1;
    height: 500px; 
    background-color: #e7e7e7;  
    display: none;    
}
.head_right .h_picture>img:hover{
    transform:scale(2) translateY(10px);
}
.r_six{
    display: flex;
    list-style: none;
    color: white;
}
.r_six>li{
    margin-right: 12px;
}
.head .tougao{
    width: 100px;
    height: 36px;
    background: #fb7299;
    text-align: center;
    line-height: 36px;
    color: white;
}
.middle{
    width: 1000px;
    margin: 10px auto;
    height: 1000px;
}
