*{
    padding: 0 ;
    margin:0;
}
body {
    font-size: 12px;
    color: #4d4d4d;
    font-family: Helvetica Neue,Microsoft Yahei;
}
.container{
    display: flex;
    font-size: 15px;
}
/* 左边 */
.left-bar{
    position: fixed;
    padding: 0 20px;
    background: #17273e;
    color: #6b7386;
    box-sizing: border-box;
    flex-direction: column;
    height: 100vh;
    display: flex;
    width: 250px;
    transition: all .5s;
}
/* 左边标题 */
.left-bar .title {
    color: #fff;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
}
.title p{
    text-align: center;
}
/* 分类导航 */
.left-bar .nav .item {
    height: 48px;
    line-height: 46px;
    border-top: 2px solid rgba(255,255,255,.04);
    border-bottom: 2px solid rgba(255,255,255,.04);
}
.nav .item a {
    color: #0ae9de;
}
.iconfont {
    color: #6b7386;
    padding-right: 4px;
}
a {
    text-decoration: none;
}
.left-bar .nav>.active .line {
    position: absolute;
    right: 12px;
    height: 30px;
    width: 3px;
    background: #3a85ff;
    z-index: 100000;
    margin-top: 10px;
}
/* 分类导航下面的列表 */
.left-bar .nav-item {
    min-height: 100vh;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.left-bar .nav-item li {
    padding-left: 20px;
    height: 32px;
    line-height: 32px;
}
li {
    list-style: none;
}
.left-bar .nav-item li a {
    text-decoration: none;
    font-size: 13px;
    display: inline-block;
    width: 100%;
    color: #6b7386;
}
/* 主体 */
.main{
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    margin-left: 248px;
    width: 100%;
    background: #f3f6f8;
}
/* 右边主体的box */
.main .box {
    overflow: hidden;
    margin: 20px 30px;
    background: #fff;
    padding-bottom: 20px;
}
.main .box .sub-category>div {
    padding: 12px 0 0 2%;
    font-size: 18px;
}
.main .item{
    width: 20%;
    border: 1px solid #e4ecf3;
    box-shadow: 1px 2px 3px #f2f6f8;
    border-radius: 6px;
    background: #fff;
    padding: 10px;
    min-width: 200px;
    margin: 22px 0 0 2.1%;
    float: left;
    overflow: hidden;
    transition: all .3s;
}
.main .no-logo {
    color: #3273dc;
    font-weight: bold;
    font-size: 14px;
}
/* logo卡片 */
.main .logo {
    height: 40px;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    color: #3273dc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 .1rem;
    
}
/* 图片 */
.main .logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}
/* 描述 */
.main .desc {
    color: gray;
    font-size: 12px;
    padding-top: 10px;
    height: 35px;
    overflow: hidden;
}
/* 返回顶部 */
#fixedBar {
  padding: 10px;
    background: #e4ecf3;
    width: 25px;
    height: 25px;
    position: fixed;
    right: 10px;
    bottom: 40px;
    z-index: 9999;
    box-shadow: 0 0 20 #eee;
    /* box-shadow: 0 0 20px #ccc; */
    cursor: pointer;
    display: none;/*默认先不显示*/
}
#fixedBar svg{
    color: #9e9e9e;
}
/* 处理active */
.left-bar .nav-item .active{
    color: #3273dc;
}
/* 底部信息 */
.footer{
	height: 30px;
	line-height: 35px;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: darkslategrey;
	color: #fff;
	font-family: Arial;
	font-size: 14px;
	letter-spacing: 1px;
}
/* 搜索框 */
.form-div{
    margin-left: 20%;
}
form .search-input {
    width: 512px;
    height: 16px;
    padding: 12px 16px;
    font-size: 16px;
    margin: 0;
    vertical-align: top;
    outline: 0;
    box-shadow: none;
    border-radius: 10px 0 0 10px;
    border: 2px solid #cac7ce;
    color: #222;
    overflow: hidden;
    display: inline-block;
}

.btn {
    width: 108px;
    height: 44px;
    position: relative;
    vertical-align: top;
    display: inline-block;
    margin-left: -5px;

}

.search-btn {
    cursor: pointer;
    width: 108px;
    height: 44px;
    line-height: 45px;
    background-color: #4e6ef2;
    border-radius: 0 10px 10px 0;
    font-size: 17px;
    color: #fff;
    outline: none;
    box-shadow: none;
    border: none;
}

span .search-input:focus {
    border-color: #4e6ef2;
}

.search-input:hover {
    border-color: #a4a8b8;
}