.header{
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow:0 0 3px rgb(189, 182, 182);
}
.header_item{
    margin: 0 10px;
}
.header_title{
    font-size: 20px;
    font
    color: rgb(62, 130, 255);
}
.header_right{
    width: 450px;
}