*{
    box-sizing: border-box;
}
.searchContent{
    width: 30rem;
    top: 3rem;
    position: absolute;
    z-index: 2;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 3px rgb(177, 176, 176);
}
.serchitem{
    height: 2rem;
    margin: 0.5rem;
    border-bottom: 1px solid grey;
    overflow: hidden;
    cursor: pointer;
}
.serchitem>span{
    line-height: 2rem;
}
.serchitem>span{
    margin-left: 1rem;
    font-weight: 550;
}