*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #060a11;
}
.center_top{
    position: absolute;
    /* transform: -50% -50%;   */
    top : 100px;  
    width: 100%;
}
.center_top{
    color: #fff;
    text-align: center;
}
.center_top .text{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.center_bottom .three_pic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.center_bottom .three_pic>div{
    width: 90px;
    height: 90px;
    margin: 25px;
    transform: rotate(45deg);
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center_bottom .three_pic>div>div{
    transform: rotate(-45deg);
    font-size: 18px;
}
.left>div{
    position: relative;
    width: 6px;
    height: 40px;
    background-color: #777777;
}
.left_1{
    left: -180px;
    top: 17px;
    transform: rotate(45deg); 
}
.left_2{
    left: -180px;
    top: 2px;
    transform: rotate(-45deg); 
}
.right_1{
    left: 180px;
    top: 0px;
    transform: rotate(135deg); 
}
.right_2{
    left: 180px;
    top: -15px;
    transform: rotate(-135deg); 
}

.floor_text{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%,0);
    width: 200px;
    top: 65%;
    color: #fff;
}