*{
    padding: 0;
    margin: 0;
}
.cube{
    height: 200px;
    width: 200px;
    margin:  200px auto;
    transform-style: preserve-3d;
    animation: rotate 5s linear infinite;
}
.pic{
    height: 200px;
    width: 200px;
}
.cube div{
    position: absolute;
}
@keyframes rotate{
    from{transform: rotateX(0deg) rotateY(0deg);}
    to {transform: rotateX(360deg) rotateY(360deg);}
}
.top{
    transform: translateZ(100px);
}
.bottom{
    transform: translateZ(-100px);
}
.left{
    transform: rotateY(90deg) translateZ(100px);
}
.right{
    transform: rotateY(-90deg) translateZ(100px);
}
.front{
    transform: rotateX(90deg) translateZ(100px);
}
.back{
    transform: rotateX(-90deg) translateZ(100px);
}