* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
.father .menu>li {
    width: 100px;
    float: left;
    border:2px solid lightblue;
    height: 50px;
    background-color: lightgoldenrodyellow;
    line-height: 50px;
    text-align: center;
}
.father .menu>li:hover {
    color: royalblue;
}
.father .menu>li:hover .son{
    display: block;
    background-color: lightgreen;
}
.father .menu .son {
    display: none;
}
.father .menu .son>ul>li:hover {
    border: 1px solid black;
}